@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --app-background: #eaebf5;
  --chat-background: #fff;
  --link-color: #c0c1c5;
  --navigation-bg: #fff;
  --navigation-box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
  --main-color: #3d42df;
  --message-bg: #f3f4f9;
  --message-bg-2: #3d42df;
  --message-text: #2c303a;
  --placeholder-text: #a2a4bc;
  --button-bg: #fff;
  --theme-bg: #1f1d2b;
  --font-family:'Montserrat', sans-serif;
  --app-name-font:'Lobster', cursive;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --color-grey-light-3: #d3c7c3;
  --color-grey-dark-1: #615551;
  --color-grad-1: #fccb90;
  --color-grad-2: #d57eeb;
  --gradient: linear-gradient(to right bottom, var(--color-grad-1), var(--color-grad-2)); }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family); }

button {
  outline: none;
  transition: .2s;
  cursor: pointer; }
  button:hover {
    opacity: .7; }

a {
  text-decoration: none; }

.btn {
  background-image: var(--gradient);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s; }
  .btn:hover {
    transform: scale(1.05); }
  .btn:focus {
    outline: none; }
  .btn > *:first-child {
    margin-right: 1rem; }

.btn {
  padding: 1.2rem 4rem;
  font-size: 1.5rem;
  font-weight: 600; }
  .btn svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor; }

.navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--navigation-bg);
  padding: 24px;
  border-radius: 10px;
  box-shadow: var(--navigation-box-shadow); }

.nav-link + .nav-link {
  margin-top: 32px; }

.nav-link:hover svg {
  color: #3d42df; }

.icon svg {
  width: 24px;
  height: 24px;
  color: var(--link-color);
  transition: .2s ease-in; }

/*
  //header seach bar and user 
  .search-bar {
 height: 34px;
 display: flex;
 width: 100%;
 max-width: 450px;
 input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
 }
}

*/
.app-name {
  background-image: linear-gradient(120deg, var(--color-grad-1) 0%, var(--color-grad-2) 100%);
  font-family: var(--app-name-font);
  font-size: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media screen and (max-width: 1200px) {
    .app-name {
      display: none; } }
  @media screen and (max-width: 1100px) {
    .app-name {
      display: inline; } }

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0; }
  .user-settings svg {
    width: 10px;
    flex-shrink: 0; }
    @media screen and (max-width: 575px) {
      .user-settings svg {
        display: none; } }
  .user-settings .notify {
    position: relative; }
    .user-settings .notify svg {
      width: 20px;
      margin-left: 24px;
      flex-shrink: 0; }
    .user-settings .notify .notification {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ec5252;
      position: absolute;
      right: 1px;
      border: 1px solid var(--theme-bg);
      top: -2px; }
      @media screen and (max-width: 575px) {
        .user-settings .notify .notification {
          display: none; } }

.user-img {
  width: 50px;
  height: 50px;
  border-width: 2px;
  border-color: #d57eeb;
  padding: 5px;
  border-style: solid;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%; }

.user-name {
  font-size: 17px;
  margin: 0 6px 0 12px; }

.post {
  position: relative;
  margin: 10px 10px; }

.name-tag {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 15, 47, 0.5);
  border-radius: 4px;
  padding: 4px 12px; }

.img {
  border-radius: 10px;
  object-fit: cover;
  width: 300px;
  height: 300px; }
  @media screen and (max-width: 400px) {
    .img {
      width: 200px;
      height: 200px; } }

.author-img {
  width: 52px;
  height: 52px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 50%;
  object-fit: cover; }
  .author-img__wrapper {
    bottom: 0;
    margin: 10px 10px;
    position: absolute;
    flex-shrink: 0; }
    .author-img__wrapper svg {
      width: 16px;
      padding: 2px;
      background-color: #fff;
      color: #0daabc;
      border-radius: 50%;
      border: 2px solid #0daabc;
      position: absolute;
      bottom: 5px; }

.author-name {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px; }

.author-info {
  font-size: 13px;
  font-weight: 400;
  color: #fff; }

.author-detail {
  margin-left: 16px; }

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s; }
  @media screen and (max-width: 1100px) {
    .search {
      display: none; } }
  .search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(var(--color-grey-dark-1), 0.08); }
  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;
    /*
      @media only screen and (max-width: $bp-medium) {
        width: auto;
  
        &::placeholder {
          color: white;
        }
      }
      */ }
    .search__field:focus {
      outline: none; }
    .search__field::placeholder {
      color: var(color-grey-light-3); }
  .search__btn {
    font-weight: 600;
    font-family: inherit; }

.app-container {
  background-color: var(--app-background);
  width: 100%;
  height: 100%;
  display: flex;
  transition: .2s; }

.left-side {
  position: fixed;
  padding: 16px;
  flex-basis: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.right-side {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column; }

.header {
  display: flex;
  position: fixed;
  background-color: var(--app-background);
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 30px; }

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 5%;
  overflow-y: scroll; }
  @media screen and (max-width: 1600px) {
    .main-content {
      margin-top: 10%;
      margin-left: 20%; } }
  @media screen and (max-width: 575px) {
    .main-content {
      margin-top: 20%;
      margin-left: 20%; } }
  @media screen and (max-width: 400px) {
    .main-content {
      margin-top: 25%;
      margin-left: 30%; } }
